#players {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
#players .isActive {
  font-weight: bold;
}
#players .name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#players input {
  text-align: center;
  width: 150px;
  height: 30px;
  font-size: 20px;
  border: none;
}
#players.active input {
  pointer-events: none;
}
.game-board {
  display: flex;
  justify-content: center;
  /* width: 500px; */
  /* height: 500px; */
}
.game-board .board-cell {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}
.game-board button {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.result-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
