* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
      to bottom,
      rgba(255, 233, 186, 0.9),
      rgba(255, 233, 186, 0.95)
    ),
    url("/bg_ox.png");
  background-repeat: repeat;
  background-size: 100% 100%, 70px 70px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}
